.nav_container {
  background-color: #751313;
  width: 100%;
  padding: 0px 50px;
  font-family: 'Bebas Neue';
  font-size: 24px;
  letter-spacing: 1px;
  z-index: 1000;

  ul li a {
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 15px 25px;
    text-decoration: none;
  }
}


