.HPcontainer {
  margin-top: auto;
  margin-bottom: auto;

  .cardcontainer {
    display: flex;
    justify-content: space-around;
  }

  .cards {
    display: block;
    color: white;
    padding: 2em;
    min-height: 525px;
    width: 25%;
    background-position: center center;
    background-size: cover;
    position: relative;
    cursor: pointer;
  }


  .cardcontainercontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    a {
      text-decoration: none;
      cursor: pointer;
    }
  }


  .card1 {
    background-image: url('../../assets/CardsHP1.jpeg');
  }

  .card2 {
    background-image: url('../../assets/CardsHP2.jpeg');
  }

  .card3 {
    background-image: url('../../assets/CardsHP3.jpeg');
  }

  .cardstitle {
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 30px;
    text-decoration: none;
  }

}

