.statDetail {
  &-container {
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 50px;
    bottom: 125px;

    p {
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      font-family: 'Bebas Neue';
      position: absolute;
    }

    .p-count {
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
    }

    .m-count {
      bottom: 10%;
      left: 20%;
      transform: translateX(-50%);
    }

    .s-count {
      bottom: 10%;
      right: 20%;
      transform: translateX(-50%);
    }

    .mp-count {
      top: 35%;
      right: 66%;
    }

    .ps-count {
      top: 35%;
      left: 66%;
    }

    .sm-count {
      top: 66%;
      left: 50%;
      transform: translateX(-50%);
    }

    .pms-count {
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
